@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import "./utils/vars";

.box-title {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: $FontTitile;
  line-height: $FontTitile;
}